<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="">{{ location }}</a>
  		</div>

  		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      		<ul class="nav navbar-nav navbar-right">
        		<li><a href="">{{ rep_count }} incidents reported</a></li>
      		</ul>
  		</div>
	</div>
</nav>

<div id="map" ng-init="initialize()"></div>

<p>&nbsp;</p>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Latest News</h3>
				</div>
				<ul id="latest-news" class="list-group">
					<li class="list-group-item" ng-repeat="news in latest_news">
						<a href="{{ news.url }}" target="_blank">{{ news.name }}</a><br>
						<small">- {{ news.provider }}</small>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">

		</div>
		<div class="col-md-4">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">Donators Near You</h3>
				</div>
				<ul id="latest-news" class="list-group">
					<li class="list-group-item">
						<h5>1 kg Sugar</h5>
						- <strong>Skanda Ram</strong> (9123456789)
					</li>
					<li class="list-group-item">
						<h5>2 Pillows &amp; Mattress</h5>
						- <strong>Alim Pasha</strong> (9123456789)
					</li>
					<li class="list-group-item">
						<h5>1 kg Atta</h5>
						- <strong>Bindu Aparna</strong> (9123456789)
					</li>
					<li class="list-group-item">
						<h5>10 Generic Fever Tablets</h5>
						- <strong>Champamayi</strong> (9123456789)
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
