<div class="container">
	<p>&nbsp;</p>
	<img id="cclogo" class="img-responsive center-block" src="{{ cclogo }}" width="256px">
	<p>&nbsp;</p>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="Enter Location" ng-model="location" ng-keypress="">
			<br>
			<a id="submit" class="btn btn-danger btn-block" href="#calamity/{{ location }}">SEARCH</a>
		</div>
	</div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<a id="report" class="btn btn-primary btn-block" data-toggle="modal" data-target="#reportModal">Report</a>
		</div>
	</div>
</div>

<div id="reportModal" class="modal fade" role="dialog">
  <form name="reportForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Report Calamity</h4>
      </div>
      <div class="modal-body">
      	<div class="row">
      		<div class="col-md-2"></div>
	      	<div class="col-md-8">
				<div class="form-group">
	      			<label class="control-label" for="report_type">Type of Calamity</label>
	      			<select class="form-control" id="report_type" name="report_type" ng-model="report.type" required>
						<option value="">Select Calamity</option>
						<option>Cyclone</option>
						<option>Others</option>
			        </select>
	      		</div>
	      		<div class="form-group">
	      			<label class="control-label" for="report_condition">Condition of Calamity <small>(required)</small></label>
	      			<select class="form-control" id="report_condition" name="report_condition" ng-model="report.condition" required>
	      				<option value="">Select Level</option>
						<option>1 (I'm Safe!)</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5 (I'm in Danger!)</option>
			        </select>
	      		</div>
	      		<div class="form-group">
	      			<label class="control-label" for="report_area">Area <small>(required)</small></label>
	      			<input type="name" class="form-control" id="report_area" ng-model="report.area" name="report_area" placeholder="Area" required>
	      		</div>
				<div class="form-group">
	      			<label class="control-label" for="report_city">City/Town <small>(required)</small></label>
	      			<input type="name" class="form-control" id="report_city" ng-model="report.city" name="report_city" placeholder="City/Town"/>
	      		</div>
				<div class="form-group">
	      			<label class="control-label" for="report_landmark">Landmark</label>
	      			<input type="name" class="form-control" id="report_landmark" ng-model="report.landmark" name="report_landmark" placeholder="Landmark"/>
	      		</div>
				<div class="form-group">
	      			<label class="control-label" for="report_phone">Phone Number</label>
	      			<input type="tel" class="form-control" id="report_phone" ng-model="report.phone" name="report_phone" placeholder="Phone Number"/>
					<span class="help-block">This information would be shared publicly, to help contact you in distress. <b>It's optional to share your contact information.<b></span>
	      		</div>
	      	</div>
	      	<div class="col-md-2"></div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="reportCalamity()" ng-disabled="reportForm.$invalid">Report</button>
      </div>
    </div>
  </div>
  </form>
</div>
